name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Set up Android SDK
      uses: android-actions/setup-android@v3

    - name: Clean Gradle project
      run: |
        chmod +x gradlew
        ./gradlew clean

    - name: Build APK
      run: |
        chmod +x gradlew
        ./gradlew assembleRelease --no-daemon

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: termux-file-manager-apk
        path: app/build/outputs/apk/release/app-release.apk
